@import "tailwindcss";

body {
  @apply bg-[#141414];
}

.container {
  width: 90%;
}

.movie-card {
  text-align: center;
  padding: 10px;
}

.movie-card img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 10px;
  transition: transform 0.3s ease;
}

.movie-card img:hover {
  transform: scale(1.05);
}

